<div class="container">
  <h1>{{title}}</h1>
  <div class="first-carousel">
    <carousel>
      <slide *ngFor="let image of images">
        <img [src]="image.url" alt="{{image.id}}">
        <div class="carousel-caption">
          <h3>{{image.id}}</h3>
        </div>
      </slide>
    </carousel>
  </div>
  <div>
    <div class="text">
      {{text}}
    </div>
    <div class="second-carousel">
      <carousel>
        <slide *ngFor="let image of images">
          <img [src]="image.url" alt="{{image.id}}">
          <div class="carousel-caption">
            <h3>{{image.id}}</h3>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>
