@import '../../assets/scss/variables.scss';

h1 {
  color: $off-black;
}

.text {
  max-width: 75%;
  text-align: justify;
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  color: $off-black;
}

.carousel {
  margin-bottom: 20px;
}

.carousel-overlay {
  margin-bottom: -10rem;
  color: white;
  text-shadow: 0.2rem 0.2rem 0.2rem $off-black;
}
